*~
*.o
.deps
.libs
*.lo
*.la
*.exe
*.cache
*.log
*.status
Makefile
Makefile.in
aclocal.m4
config.*
install-sh
ltmain.sh
configure
libtool
config.h
stamp-h1
compile
ar-lib
depcomp
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
